.nav-logo {
  font-family: "Kaushan Script", cursive;
  font-size: 35px !important;
}

.nav-menu {
  font-family: "Roboto", sans-serif;
  color: black !important;
  text-decoration: none;
}

.nav-logout {
  font-family: "Roboto", sans-serif;
  color: black !important;
  border: white !important;
  background-color: white !important;
  padding-top: 0px !important; 
  padding-bottom: 0px !important;  
}

#navbarScrollingDropdown {
  color: black;
  font-size: 1.125rem;
}
