.nav-logo {
  font-family: "Kaushan Script", cursive;
  font-size: 30px !important;
}

.nav-menu {
  font-family: "Roboto", sans-serif;
  color: black !important;
}

#navbarScrollingDropdown {
  color: black;
}