@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Kaushan+Script&family=Roboto:wght@300&family=Source+Sans+Pro:ital,wght@1,300;1,600&display=swap");

* {
  box-sizing: border-box;
  max-width: 100%;
}