.title-page {
  background-color: #801e3e;
  padding: 25px;
  text-align: center;
  color: white;
}

.e-card { 
  box-shadow: 0 16px 28px 0 rgb(134 131 134 / 65%),
    0 25px 55px 0 rgb(146 140 142 / 32%);
   width: 30% !important;
}
