.main-title {
  width: 25% !important;
  height: 150px;
  padding-top: 20px;
  margin: auto;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-cards {
  background-color: #FAF9F7;
}

.main-body {
  margin-top: 60px;
}

.cards-list {
  box-shadow: 0 16px 28px 0 rgb(134 131 134 / 65%),
    0 25px 55px 0 rgb(146 140 142 / 32%);  
}